<div class="wrapper">
	<%= render 'dashboard_shared/sidenavigation' %>
	<div class="main-panel">
		<%= render 'dashboard_shared/navigation_bar' %>

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
						<h3 class="h3">Order statistics</h3>
						<%= line_chart Order.group_by_day(:created_at).count %>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
