<div class="wrapper">
	<%= render 'dashboard_shared/sidenavigation' %>
	<div class="main-panel">
		<%= render 'dashboard_shared/navigation_bar' %>

		<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<%= image_tag "/store.jpg", class: "img-responsive" %>
					<h3 class="h4">Helvitica Theme</h3>
					<a href="#">Apply Theme</a>
					<a href="#">&nbsp;Preview Theme</a>
				</div>
			</div>
		</div>
	</div>

	</div>

</div>