<footer>
    <main class="container">
      <section class="top-row row">
        <div class="select-buttons col-md-3 col-md-offset-1">
        <h1 class="h3" style="margin-top: 0px;">Josika </h1>
        <p> is a online web store creation platform for small business owners who can't afford to do tech savvy stuffs of pay huge fees to software engineers. </p>
        </div>
        <div class="group-info col-md-8 row">
          <ul class="col-md-offset-2 col-md-3 hidden-xs  hidden-sm">
            <li class="header">Product</li>
            <li><a href="/developers">Features</a></li>
            <li><a href="/contribute_and_support">Solutions</a></li>
            <li><a href="/contribute_and_support">Platform</a></li>
            <li><a href="/contribute_and_support">Integration</a></li>
            <li><a href="/contribute_and_support">FAQ</a></li>
          </ul>
          <ul class="col-md-3 hidden-xs  hidden-sm">
            <li class="header">Company</li>
            <li><a href="/contribute_and_support">Team</a></li>
            <li><a href="/contribute_and_support">Jobs</a></li>
          </ul>
          <ul class="col-md-3 hidden-xs hidden-sm">
            <li class="header">Links</li>
            <li><a href="/login">Features</a></li>
            <li><a href="/register">Solutions</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/terms_and_conditions">Terms & Conditions</a></li>
          </ul>
        </div>
        <ul class="hidden-md hidden-lg mobile-visible">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/posts">Blog</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/termsandconditions">Contact</a></li>
          <li><a href="/termsandconditions">Terms & Conditions</a></li>
        </ul>
      </section>
      <section class="botttom-row">
        <h4 class="hidden-xs hidden-sm">Find Us In Social Media</h4>
        <div class="icon-group">
          <a href="#" class="button button-round"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="button button-round"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="button button-round"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#" class="button button-round"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <p>&copy</p>
      </section>
    </main>
  </footer>

  <style type="text/css">
  footer {
    position: relative;
    bottom: 0px;
    background: #fff url();
    padding: 50px 0px;
    overflow: hidden;
    border-top: 1px solid #efefef;
    margin-top: 3em;
  }
  footer select {
    border: none;
    background-color: #484848;
    padding: 10px 32px 10px 10px;
    font-size: 16px;
    border-radius: 2px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  ul li {
    list-style-type: none;
  }
  ul li.header {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  ul li:not(.header):hover {
    color: #BBBBBB;
  }
  main section:first-child {
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
  }
  main section:last-child {
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
  }
  main section:last-child p {
    opacity: 0.3;
  }
  .button {
    border: 1px solid #fff;
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    color: #fff;
    background-color: #337AD5;
  }
  .mobile-visible li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 5px;
  }
  .mobile-visible {
    padding-top: 40px;
    text-align: center;
  }
  @media (max-width:970px) {
    main section:first-child {
      border-bottom: none;
      padding-bottom: 0px;
    }
    main section:last-child {
      padding-top: 0px;
    }
  }
  footer ul li a{
    color: #363948;
    text-decoration: none !important;
  }
  </style>