<!-- Left & centered positioning -->
<div class="ssk-sticky ssk-left ssk-center ssk-lg">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk  ssk-twitter"></a>
    <a href="" class="ssk  ssk-google-plus"></a>
    <a href="" class="ssk  ssk-linkedin"></a>
</div>

<!-- Left & custom positioning -->
<style>.ssk-sticky .ssk-left { top: 20%; } </style>

