<div class="container">
<section>
	<div class="row" >
		<div class="col-md-8 col-md-offset-2 col-xs-12" >
			<header>
			  <nav class="navbar navbar-default" style="background-color: #0CF">

				<u style="color: white"><h1 class="h2 text-center" style="color: white" >FAQ</h1></u>
				</nav>
			</header>
		    <u><h1 class="h4" >Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h1></u>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor massa, vulputate in turpis vitae, tempor laoreet metus. Quisque pulvinar urna ut libero lacinia, ac lacinia odio congue. Pellentesque quis ante laoreet, blandit diam vitae, rhoncus sem. Integer porta augue ac magna vulputate suscipit. Sed tristique efficitur erat at consectetur. Nulla eget enim turpis. Nulla vitae dictum justo, at lobortis augue. Aliquam quis mollis eros.
			</p>
			<u><h1 class="h4">sit amet dapibus lectus?</h1></u>
			<p>
				Suspendisse rutrum semper arcu, sit amet dapibus lectus. Aliquam fringilla purus vitae urna posuere eleifend. Pellentesque nec leo in ante ornare faucibus et aliquet turpis. Proin quis nisl eget purus tempor dictum non in ex. Pellentesque metus eros, eleifend a velit quis, molestie lacinia ex. In posuere pellentesque felis id consequat. Duis viverra bibendum tortor, pharetra auctor nulla placerat ac. Maecenas in metus in lectus eleifend elementum. Nam ac porttitor ex. Nulla libero risus, sollicitudin sed sollicitudin ut, pellentesque vel est. Suspendisse sit amet diam ac lorem imperdiet dignissim. In odio leo, suscipit eget rutrum et, interdum id elit. Morbi egestas tincidunt leo sollicitudin consequat.
			</p>
			<u><h1 class="h4">justo sollicitudin molestie venenatis?</h1></u>
			<p>
				Sed tristique, justo sollicitudin molestie venenatis, tortor dui malesuada nisi, vitae sagittis ex massa sit amet nunc. Aliquam dictum, sem vel tristique feugiat, nisi dolor varius magna, nec congue tellus risus sit amet nisi. Quisque accumsan erat arcu, quis mollis ligula ultricies non. Nunc elementum lorem vitae pharetra bibendum. Nullam convallis dapibus urna vel vehicula. Proin eu scelerisque massa. Donec id vestibulum est. In ut dapibus ipsum. Nullam dapibus urna vitae dui fermentum, ac convallis dolor pharetra. In vitae orci lacus. Aenean tincidunt tortor id leo aliquam, vitae venenatis dolor consequat. Morbi vitae blandit urna.


			</p>
			<u><h1 class="h4">consectetur vulputate nec nisl?</h1></u>
			<p>
				Ut laoreet velit a diam posuere vehicula. Donec at dolor ac risus tempor mattis ultricies at orci. Proin tincidunt blandit lacus eget pretium. Nullam at pellentesque lacus. Proin lobortis vitae nulla ac ornare. Integer fermentum urna non est malesuada scelerisque. Vestibulum iaculis urna at urna ornare imperdiet. Sed quis nisi at odio mattis consectetur vulputate nec nisl.
			</p>
			<u><h1 class="h4">Cras dignissim at libero sed suscipit?</h1></u>
			<p>
				Pellentesque facilisis diam at ullamcorper tristique. In sagittis sapien sit amet quam placerat, ut mattis sem sagittis. Mauris porta, libero sit amet rutrum facilisis, orci nisi vestibulum lacus, at congue ipsum nunc non mi. Cras dignissim at libero sed suscipit. Sed nec ullamcorper ligula. Etiam aliquet est purus, quis accumsan lacus pretium eu. Nunc faucibus nisl dolor, et suscipit dolor commodo vel.
			</p>
		</div>
	</div>
</section>
