<div class="example3">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://disputebills.com"><h2 class="h2 navbar-brand"><%= @shop.name  %></h3>
        </a>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "Home", shop_path(@shop) %></li>
          <li><%= link_to "Catalog", catalog_path %></li>
          <li><a href="#">Blog</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><%= link_to 'Customize',  '#', 'data-target' => "#myModal", 'data-toggle' => 'modal'  %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li><a href="#">0.00$ Cart&nbsp;<span class="fa fa-shopping-cart"></span></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<style type="text/css">
  .example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-brand{
  padding-top: 4px !important;
  font-weight: bold;
  color: #212b35;
  font-size: 22px;
}
#navbar3 li a{
  color: #212b35;
  font-weight: bold;
}
</style>