@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "social-share-kit";
@import "trix";
@import "slick";
@import "slick-theme";

@import "easy-autocomplete.themes.min";
@import "products";


// set input box to rectangular


// Scroll to top
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(80, 93, 86, 0.95); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
   // border-radius: 90px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


// Navbar



