<div class="container">
<div class="" style="padding: 20px;">
	<header>
		<h1 class="h2">Add a new Product</h1>
	</header>	
	<%= form_for(@product, :html => { :multipart => true }, url: shop_product_path, method: :patch) do |f| %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	<% end %>
</div>

</div>
